@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  margin: 2px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(imagens/Nebula.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Montserrat", sans-serif;
  max-width: 100%;
  height: 100%;
}

header {
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  border-radius: 5px;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  padding: 15px;
}

p {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  padding: 10px;
}

#data {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  width: 200px;
  padding: 10px;
  height: 40px;
  cursor: pointer;
}

button {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  width: 200px;
  padding: 10px;
}

button:hover {
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0.8);
}

#resultado {
  white-space: pre-wrap;
  animation: resultado 1.5s;
  width: 100%;
  display: flex;
  padding: 20px 100px;
  animation: aparece-de-baixo 3s;
}

#imagem {
  margin-left: 32px;
}

img {
  border-radius: 25px;
}

@keyframes aparece-de-baixo {
  from {
    opacity: 0;
    transform: translateY(150px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media only screen and (max-width: 700px) {
  header {
    display: block;
    justify-content: center;
    text-align: center;
  }
}
